<app-menu></app-menu>



<body class="image" style="height: 100vh;width:100vw;" [ngStyle]="{'background': 'url(../assets/logos/fond1.webp)'}">

    <div class="container main-container">
        <router-outlet></router-outlet>
    </div>
</body>

<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <section class="mb-4">

            <!--Facebook-->
            <a href="https://es-la.facebook.com/" role="button">
                <i class="fab fa-github"></i>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
              </svg>
            </a>

            <!--Git-->
            <a href="https://github.com/" role="button">
                <i class="fab fa-github"></i>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                </svg>
            </a>

            <!--Mail-->
            <a href="https://outlook.live.com/owa/" role="button">
                <i class="fab fa-github"></i>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <rect x="3" y="5" width="18" height="14" rx="2" />
                    <polyline points="3 7 12 13 21 7" />
                </svg>
            </a>

            <div class="col-auto">
                <p class="pt-2">
                    <strong>Adopta no Compres </strong>
                </p>
            </div>

            <section class="mb-4">
                <p>
                    DameunHogar.com no se hace responsable del mal uso que se le de la pagina y en caso de ser decubierto sera reportado a las autoridades.
                </p>
            </section>

            <section class="">

                <div class="row">

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h6>Los Femboys.</h6>
                        <p>Universidad Tecnologica General Mariano Escobedo 3A TIDSMN ESP.
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h6>Adrian Cerna Roman</h6>
                        Encargado de la programacion e implementacion del diseño en la web.
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h6 class="text-uppercase">Jose Enrique Elias Careaga </h6>
                        <p>Enacrgado de Base Datos y encargado del diesño de la misma.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0" id="right">
                        <h6 class="text-uppercase">Irvin Humberto Gutierrez Torres</h6>
                        <p>Encargado de Diseño y Documentacion del Proyecto.</p>
                    </div>

                </div>
            </section>

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright:
                <a class="text-white">Los Femboys</a>
            </div>

        </section>
    </div>
</footer>